@CHARSET "UTF-8";
fieldset.changePassword{
	width: 470px;
	margin: auto;
}

fieldset.changePassword div li{
	list-style-type: none;
}

fieldset.changePassword div.errors{
	color: red;
	font-weight: bold;
}

fieldset.changePassword div.welcome{
	font-weight: bold;
	font-size: large;
}

fieldset.changePassword table.wwFormTable{
	width: 100%;
}

fieldset.changePassword table.wwFormTable input#ChangePassword_oldPassword{
	width: 320px;
}

fieldset.changePassword table.wwFormTable input#ChangePassword_newPassword{
	width: 320px;
}

fieldset.changePassword table.wwFormTable input#ChangePassword_confPassword{
	width: 320px;
}
