<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Magazzini Digitali 2 - Gestionale</display-name>
  <distributable/>

  <session-config>
      <!-- Tempo di vità di una sessione dall'ultimo accesso espresso in Minuti -->
      <session-timeout>20</session-timeout>
  </session-config>
	
  <servlet>
    <servlet-name>TabHome</servlet-name>
    <servlet-class>it.depositolegale.gestionale.home.servlet.TabHome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabHomeDetail</servlet-name>
    <servlet-class>it.depositolegale.gestionale.home.servlet.TabHomeDetail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabIstituti</servlet-name>
    <servlet-class>it.depositolegale.gestionale.istituti.servlet.TabIstituti</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabUtenti</servlet-name>
    <servlet-class>it.depositolegale.gestionale.utenti.servlet.TabUtenti</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabRigths</servlet-name>
    <servlet-class>it.depositolegale.gestionale.rigths.servlet.TabRigths</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabSoftware</servlet-name>
    <servlet-class>it.depositolegale.gestionale.software.servlet.TabSoftware</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabSoftwareConfig</servlet-name>
    <servlet-class>it.depositolegale.gestionale.software.servlet.TabSoftwareConfig</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabEvent</servlet-name>
    <servlet-class>it.depositolegale.gestionale.event.servlet.TabEvent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabNodi</servlet-name>
    <servlet-class>it.depositolegale.gestionale.nodi.servlet.TabNodi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabCompositionLevel</servlet-name>
    <servlet-class>it.depositolegale.gestionale.compositionLevel.servlet.TabCompositionLevel</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TabHome</servlet-name>
    <url-pattern>/TabHome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabHomeDetail</servlet-name>
    <url-pattern>/TabHomeDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabIstituti</servlet-name>
    <url-pattern>/TabIstituti</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabUtenti</servlet-name>
    <url-pattern>/TabUtenti</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabRigths</servlet-name>
    <url-pattern>/TabRigths</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabSoftware</servlet-name>
    <url-pattern>/TabSoftware</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabSoftwareConfig</servlet-name>
    <url-pattern>/TabSoftwareConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabEvent</servlet-name>
    <url-pattern>/TabEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabNodi</servlet-name>
    <url-pattern>/TabNodi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabCompositionLevel</servlet-name>
    <url-pattern>/TabCompositionLevel</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
                org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
                </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>